---
import { getLangFromUrl, getTranslation, formatDefautlBaseLanguage } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = getTranslation(lang);
const baseLanguage = formatDefautlBaseLanguage(lang);
---
<div class="nav-links">
    <a class="nav-link" href={`/${baseLanguage}#`} aria-label="Home section">{t('nav.home')}</a>
    <a class="nav-link" href={`/${baseLanguage}#Experience`} aria-label="Experience section">{t('nav.experience')}</a>
    <a class="nav-link" href={`/${baseLanguage}#Projects`} aria-label="Project section">{t('nav.projects')}</a>
    <a class="nav-link" href={`/${baseLanguage}#Tools`} aria-label="Tools section">{t('nav.tools')}</a>
    <a class="nav-link" href={`/${baseLanguage}#Education`} aria-label="Education section">{t('nav.education')}</a>
</div>

<style>
    .nav-links {
        background-color: var(--primary-color);
        position: fixed;
        width: 100vw;
        height: 700px;
        padding-top: 22rem;
        left: 0;
        display: none;
        margin: 0;
        z-index: 2;
    }

    :global(.dark) .nav-links {
        background-color: var(--dark-primary-color);
    }

    .nav-links a {
        display: block;
        text-align: center;
        padding: 20px 0;
        text-decoration: none;
        font-size: 1rem;
        font-weight: bold;
        color: var(--dark-primary-color);
    }

    .nav-links a:hover,
    .nav-links a:focus {
        color: var(--primary-color);
    }

    :global(.dark) .nav-links a {
        color: var(--white-color);
    }

    .expanded {
        display: unset;
    }

    @media screen and (min-width: 636px) {
        .nav-links {
            margin-left: 5em;
            display: block;
            position: static;
            width: auto;
            background: none;
            height: auto;
            padding-top: 0rem;
        }
        
        .nav-links a {
            display: inline-block;
            padding: 5px 13px;
        }
    }
</style>