---
import type { ProjectItem } from '../interfaces/projectItem'
import Carrousel from './Carrousel.astro';
import Mosaic from './Mosaic.astro';
import ProjectLInks from './ProjectLInks.astro';
import TechnologyItem from './TechnologyItem.astro';

interface Props {
    project: ProjectItem
}

const { project } = Astro.props;
---

<div class="project-item">
    <h3>{project.title}</h3>
    <p>{project.description}</p>
    <div class="techology-container">
        {project.technologies.map(tech => <TechnologyItem techItem={tech} />)}
    </div>
    <Carrousel items={project.images} />
    <Mosaic items={project.images} />
    <div class="links-container">
        {project.links.map(link => <ProjectLInks linkItem={link} />)}
    </div>
</div>

<style>
    .project-item {
        margin-bottom: 50px;
        width: 100%;
    }

    h3 {
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
        margin: 0 0 21px 0;
        color: var(--ternary-color);
    }

    :global(.dark) h3 {
        color: var(--dark-gold-color);
    }

    p {
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        margin-bottom: 15px;
        color: var(--secondary-color);
    }

    :global(.dark) p {
        color: var(--dark-cuaternary-color);
    }

    .techology-container {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 12px;
    }

    .links-container {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 12px;
    }

    @media screen and (min-width: 636px) {
        h3 {
            font-size: 24px;
            line-height: 32px;
        }

        p {
            font-size: 16px;
            line-height: 26px;
            font-weight: 400;
            margin-bottom: 18px;
        }

        .techology-container {
            justify-content: flex-start;
            margin-left: 12px;
        }

        .links-container {
            justify-content: flex-start;
            margin-left: 12px;
        }
    }
</style>

<script>
    
    document.addEventListener("DOMContentLoaded", () => {
        CarrouselDisplay();
    });

    window.addEventListener("resize", CarrouselDisplay)
    
    function CarrouselDisplay(){
        const carrousel = document.getElementById("carrousel") as HTMLElement;
        const mosaic = document.getElementById("mosaic") as HTMLElement;
        const screenWidth = window.innerWidth;

        if(screenWidth >= 636){
            carrousel.style.display = "none";
            mosaic.style.display = "grid";
        }
        else {
            carrousel.style.display = "block";
            mosaic.style.display = "none";
        }
    }
</script>